<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
</head>
<body>
    <p>Hello {{target}},</p>
    <p>This is a test email. <a href="{{url}}">Click me please.</a></p>
    <p>Best regards,</p>
    <p>{{sender.first_name}}</p>
</body>
</html>
